:root {
  --background: #ffffff;
  --background2: #c6cfd8;
  --background3: #e6eaee;
  --text: #000000;
  --text2: #777;
  --primary: #55e6a5;
  --neutral: #ffffff;
  --border: #0000000d;
  --border2: #0000001a;
}
